<ion-view title="Recomendaciones" id="page3" class=" " ng-controller="recommendationsCtrl" ng-init="getAnswer()">
    <ion-content padding="true" class="has-header">
        <ion-list>
            
        </ion-list>

        <ion-list id="recomendaciones-list1" class=" ">
            <div ng-repeat="r in recommendations track by $index" class="item item-body" ng-if="r.good_data+r.regular_data+r.bad_data > 0">
                <p style="margin-top:0px;color:#000000;" class=" ">{{r.name}}</p>
                <table  style="width:100%; table-layout: fixed;" ng-click="r.show=!r.show"> 
                    <tr style="text-align:center">
                        <td bgcolor="#00FF00"><h3>Bueno {{r.good_data*100/(r.good_data+r.regular_data+r.bad_data)}}% </h3></td>
                        <td bgcolor="#FFFF00"><h3>Regular {{r.regular_data*100/(r.good_data+r.regular_data+r.bad_data)}}% </h3></td>
                        <td bgcolor="#FF0000"><h3>Malo {{r.bad_data*100/(r.good_data+r.regular_data+r.bad_data)}}% </h3></td>
                    </tr>
                </table>
                <p></p>
                <table style="width:100%; table-layout: fixed;" ng-show="r.show">
                    <tr ng-repeat="recommendation in r.recommendation track by $index">
                        <td> ° {{recommendation}}</td> 
                    </tr>
                </table>
            </div>
        </ion-list>
    </ion-content>
</ion-view>